.areaComponent {
  font-style: normal;
  text-align: center;
  text-decoration: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.greenComponent {
  background-color: #e4ecd4;
}

.redComponent {
  background-color: #ecd7d4;
}

.blueComponent {
  background-color: #d0eef7;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.span {
  border-radius: 5px;
  width: 15px;
  height: 15px;
}

/* Color estados de la orden */

.pendiente {
  background-color: #58f764;
}

.atencion {
  background-color: #f9a954;
}

.critico {
  background-color: #f96554;
}

.terminado {
  background-color: #79f9f5;
}

/* OrdenPopup */

.modalpopup {
  font-size: 12px;
  background-color: #f1ea7f;
}
.modalpopup > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modalpopup > .content {
  width: 100%;
  padding: 10px 5px;
  font-size: 15px;
}
.modalpopup > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modalpopup > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #f50b0b;
  border-radius: 18px;
  border: 1px solid #f50b0b;
}
